@tailwind base;
@tailwind components;
@tailwind utilities;

/* Profile image shadow */
img.h-auto.w-100 {
  filter: drop-shadow(0 0 0.25rem black);
}

/* Max width container */
div#__next {
  max-width: 1900px;
  margin-right: auto;
  margin-left: auto;
}

/* Homepage min height */
.min-h-screen {
  min-height: 90vh;
}

/* Form outline reset */
textarea:focus,
input:focus {
  outline: none;
}

/* Project images subtle rounding */
img.h-auto.w-full {
  border-radius: 10px;
}
